
<div class="container"><div class="row">
    <div class="col-12 ">
      <div class="card fondo shadow rounded" >
        <div class="card-body">
          <h5 class="card-title texto"> Contacto</h5>
          <br>
          <div class="container">
            <div class="row">

              <div class="col">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label texto">Name</label>
                  <input type="text" class="form-control tarjeta" 
                    id="exampleFormControlInput1" placeholder="Name">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label texto">Surname</label>
                  <input type="text" class="form-control tarjeta" 
                    id="exampleFormControlInput1" placeholder="Surname">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label texto">Email address</label>
                  <input type="email" class="form-control tarjeta " 
                    id="exampleFormControlInput1" placeholder="name@example.com">
                </div>

              </div>
            </div>
            <div class="row align-items-center">
            <div class="col-11">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label texto">Message</label>
              <textarea class="form-control tarjeta" id="exampleFormControlTextarea1"
                placeholder="type your message here" rows="2"></textarea>
              </div>
            </div>
            <div class="col-1">
              <button class="btn btn-secondary tarjeta p-3 " type="submit" value="Submit"> Submit</button>
            </div>
          </div>



          </div>


        </div>
      </div>
    </div>
  </div>
</div>