

  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
  
    <div class="row">
      <app-datos-personales></app-datos-personales>
    </div>
  
    <div class="row">
      <app-about></app-about>
    </div>
    
    <div class="row">  
      <app-educacion></app-educacion>  
    </div>
  
    <div class="row">  
      <app-exp-laboral></app-exp-laboral>  
    </div>
   
  
    <div class="row">
      <div class="col">
      <app-idiomas></app-idiomas>
    </div>
    <div class="col">
  
      <app-proyectos></app-proyectos>
    </div>
    </div>
  
    <div class="row">
      <app-skills></app-skills>
    </div>
  
    <div class="row">
  
      
      <!-- <div class="col">
        <app-contacto></app-contacto>
  
      </div> -->
      
    </div>
    <div class="row">
      <app-footer></app-footer>
    </div>
    
  </div>