<div class="container-fluid suplogin" *ngIf="expLab">
    <div class="container login ">
        <div class="row">
            <div class="col-12">
                <div class="card fondo shadow rounded">
                    <div class="card-body ">
                        <h5 class="card-title texto m-2"> Modificar Experiencia</h5>

                        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                            <div class="form-group texto m-3">
                                <label for="nombreE" class="m-2">Modificar Nombre de la empresa</label>
                                <input type="text" class="form-control" id="nombreE" name="nombreE"
                                    [(ngModel)]="expLab.nombreE" required>
                            </div>

                            <div class="form-group texto m-3">
                                <label for="positionE" class="m-2"> Modificar la posicion </label>
                                <input type="text" class="form-control" id="positionE" name="positionE"
                                    [(ngModel)]="expLab.positionE" required>
                            </div>

                            <div class="form-group texto m-3">
                                <label for="modoE" class="m-2">Descripcion de la modalidad de trabajo</label>
                                <input type="text" class="form-control" id="modoE" name="modoE"
                                    [(ngModel)]="expLab.modoE" required>
                            </div>

                            <div class="form-group texto m-3">
                                <label for="descripcionE" class="m-2">Modificar actividades </label>
                                <textarea name="descripcionE" id="descripcionE" cols="50" rows="5" type="text"
                                    class="form-control" [(ngModel)]="expLab.descripcionE" required></textarea>

                            </div>

                            <div class="form-group texto m-3">
                                <label for="startE" class="m-2">Modificar año de ingreso</label>
                                <input type="text" class="form-control" id="startE" name="startE"
                                    [(ngModel)]="expLab.startE" required>
                            </div>

                            <div class="form-group texto m-3">
                                <label for="endE" class="m-2">Modificar año de finalizacion</label>
                                <input type="text" class="form-control" id="endE" name="endE" [(ngModel)]="expLab.endE"
                                    required>
                            </div>

                            <div class="form-group texto m-3">
                                <label for="webE" class="m-2">Editar la web de la empresa</label>
                                <input type="text" class="form-control" id="webE" name="webE" [(ngModel)]="expLab.webE"
                                    required>
                            </div>

                            <div class="form-group texto m-3">
                                <label for="imgE" class="m-2">Editar la ruta de la imagen</label>
                                <input type="text" class="form-control" id="imgE" name="imgE" [(ngModel)]="expLab.imgE"
                                    required>
                            </div>

                            <!-- Botones de actializar y voler -->

                            <div class="row ">
                                <div class="col-6 text-satrt  ">
                                    <button class="btn texto tarjeta"> Actualizar </button>
                                </div>
                                <div class="col-6 text-end">
                                    <button class="btn texto tarjeta" (click)="volver()"> Volver </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>