a {
    text-decoration: none;
}
.fotoeducacion{
    max-width: 100px;
   
}

li {
    list-style:none;
}

.fondo {
    background-color: rgba(46, 2, 59, 0.95);
}

.texto {
    color: #AF9120;
    font-weight: bold;
}
.tarjeta {
    background-color: rgba(112, 60, 108, 0.5);
}