<div class="container mb-3">
    <div class="card bg-success shadow rounded" style="--bs-bg-opacity: 0.5 ;">
        <ul>
            <li *ngFor="let experiencia of experienciaList">
                
        <div class="row" display="flex">
            <div class="col-2 align-self-center justify-content-center">
                <img 
                class="fotoeducacion "
                [src]="experiencia.img"/>
            </div>
        
        <div class="col-8">
                <h5>{{experiencia.Company}}</h5>
                <h6>{{experiencia.position}}</h6>
                <p>{{experiencia.mode}}</p>
                <p><time>{{experiencia.start}}</time> - <time>{{experiencia.end}}</time></p>
            </div>
            <div class="col-2 align-self-center   ">
                <button class="btn btn-secondary"><a href="#" class="text-dark">{{experiencia.web}}</a></button>
            </div>
        </div>
        
        
    </li>
</ul>
</div>
    </div>
