<div class="container mb-3 ">
    <div class="card fondo shadow rounded ">
        <div class="row m-2">
            <div class="col-lg-8">
                <h3 class="texto mx-3 "> Educacion</h3>
            </div>
            <div class="col-lg-4 p-2">
                <button type="button" class="btn  texto1 tarjeta" routerLink="/nuevaedu" *ngIf="isLogged"> <i
                        class="fa-solid fa-folder-plus"></i> Nueva Educacion</button>
            </div>
        </div>

        <div class="mx-5">

             <!-- -------------------- -->
            <!--   Iteracion inicio   -->
            <!-- -------------------- -->


            <ul>
                <li *ngFor="let Educacion of educacion">
                    <div class="row texto1 mt-3 d-flex align-items-center" display="flex">
                        <div class="col-2 align-self-center justify-content-center">
                            <img class="fotoeducacion " [src]="Educacion.imgEd" />
                        </div>
                        <div class="col-5 ">
                            <h5 class="texto">{{Educacion.schoolEd}}</h5>
                            <h6>{{Educacion.titleEd}} </h6>
                            <p> {{Educacion.careerEd}}</p>
                            <p><time>{{Educacion.startEd}}</time> - <time>{{Educacion.endEd}}</time></p>
                        </div>
                        <div class="col-3 align-self-center ">
                            <button class="btn  tarjeta "><a href="http://{{Educacion.webEd}}" target="_blank"
                                    class="texto1">Web Page</a></button>
                        </div>

                        <!-- Botones de Editar y borrar -->

                        <div class="col-2  ">
                            <div class="row m-2 d-flex " *ngIf="isLogged">
                                <button class="btn  texto1 tarjeta  " routerLink="/editedu/{{Educacion.id}}">
                                    <i class="fa fa-pen  texto1"></i> </button>
                            </div>
                            <div class="row m-2 " *ngIf="isLogged">
                                <button class="btn  texto1 tarjeta" (click)="delete(Educacion.id)">
                                    <i class="fa fa-trash-can texto1"></i> </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- -------------------- -->
            <!--   Iteracion fin  -->
            <!-- -------------------- -->

        </div>
    </div>
</div>
