<div class="container mb-3">

  <div class="card fondo shadow rounded">
    <div class="card-body">

      <div class="row mb-2">
        <div class="col-lg-8 col-md-12 d-flex align-items-center justify-content-center">
          <h5 class="card-title texto">Languages</h5>
        </div>
        <div class="col-lg-4 col-md-12 d-flex align-items-center justify-content-center">
          <button type="button" class="btn texto1 tarjeta" routerLink="/nuevoidi" *ngIf="isLogged"> <i
              class="fa-solid fa-folder-plus"></i> Nuevo Idioma</button>
        </div>
      </div>

            <!-- -------------------- -->
            <!--   Iteracion inicio   -->
            <!-- -------------------- -->

      <ul class="mt-3">
        <li *ngFor="let Idiomas of idiomas">
          <div class="container ">
            <div class="row texto borde my-2">
             
              <div class="col-lg-3 col-sm-12 d-flex align-items-center justify-content-center ">
                <h5>{{Idiomas.idioma}}</h5>
              </div>
              <div class="col-lg-7 col-sm-8 col-12 d-flex align-items-center justify-content-center">{{Idiomas.nivel}}</div>
              <div class="col-lg-1 col-sm-2 col-6 d-flex align-items-center justify-content-center">
                <div class="m-2" *ngIf="isLogged"><a routerLink="/editidi/{{Idiomas.id}}"><i
                      class="fa fa-pen  texto1"></i></a>
                </div>
              </div>
              <div class="col-lg-1 col-sm-2 col-6 d-flex align-items-center justify-content-center">
                <div class="m-2 " *ngIf="isLogged">
                  <a (click)="delete(Idiomas.id)"><i class="fa fa-trash-can texto1"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

            <!-- -------------------- -->
            <!--   Iteracion fin   -->
            <!-- -------------------- -->

      <br>

      <!-- hobbies -->
      <h5 class="card-title texto">Hobbies</h5>
      <div class="container">
        <div class="row">
          <div class="col-6 texto">
            <i class="fa-solid fa-palette"></i> Amateur painter
          </div>
          <div class="col-6">
            <div class="project">
              <!-- <a href="#" class=" text-decoration-none texto link-secondary"> (My jobs)</a> -->

                            <!-- Button trigger modal -->
              <button type="button" class="btn text-decoration-none texto tarjeta2 link-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Mis trabajos
              </button>

              <!-- Modal -->
              <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content fondo texto">
                    <div class="modal-header  borde">
                      <h2 class="modal-title texto " id="exampleModalLabel">Mis Pinturas</h2>
                      <button type="button" class="btn tarjeta texto" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                    <div class="modal-body">


                      <div class="modal-body">
                        <div class="container-fluid">

                          <div class="row m-3 borde paint">
                            <h3 class=" texto ">Estudio de complementarios, perspectiva y luz #1</h3>
                            <h5>Oleo sobre tela 50 x 65</h5>
                            <p>(2021 - unfinished)</p>
                            <img class="mb-5 borde2" src="../../../assets/AmarilloVioleta.jpg" alt="">
                          </div>

                          <div class="row m-3 borde paint">
                            <h3 class=" texto ">Estudio de complementarios, perspectiva y luz #2</h3>
                            <h5>Oleo sobre tela 50 x 60</h5>
                            <p>(2021 - unfinished)</p>
                            <img class="mb-5 borde2" src="../../../assets/AzulNaranja.jpg" alt="">
                          </div>

                          <div class="row m-3 borde paint">
                            <h3 class=" texto ">Retrato de Elaine de Kooning</h3>
                            <h5>Oleo sobre tela 45 x 42</h5>
                            <p>(2020 - unfinished)</p>
                            <img class="mb-5 borde2" src="../../../assets/Elaine.jpeg" alt="">
                          </div>

                          <div class="row m-3 borde paint">
                            <h3 class=" texto ">Retrato de Lee Krasner</h3>
                            <h5>Oleo sobre tela 50 x 42</h5>
                            <p>(2020)</p>
                            <img class="mb-5 borde2" src="../../../assets/LeeKrasner.jpeg" alt="">
                          </div>

                          <div class="row m-3 borde paint">
                            <h3 class=" texto ">Espalda</h3>
                            <h5>Oleo sobre tela 70 x 90</h5>
                            <p>(2020  - unfinished)</p>
                            <img class="mb-5 borde2" src="../../../assets/MansBack.jpeg" alt="">
                          </div>

                          <div class="row m-3 borde paint">
                            <h3 class=" texto ">Ojo de anciana</h3>
                            <h5>Oleo sobre tela 44 x 54</h5>
                            <p>(2020  - unfinished)</p>
                            <img class="mb-5 borde2" src="../../../assets/OjoAnciana.jpeg" alt="">
                          </div>

                          <div class="row m-3 borde paint">
                            <h3 class=" texto ">Circulos</h3>
                            <h5>Oleos sobre tela 20 x 30</h5>
                            <p>(2012)</p>
                            <img class="mb-5 borde2" src="../../../assets/circulos.jpeg" alt="">
                          </div>

                          <div class="row m-3 borde paint">
                            <h2 class=" texto mb-3">Reproducciones</h2>                           
                          </div>

                          <div class="row m-3 borde paint">
                            <h3 class=" texto ">Reproduccion de Autorretrato Van Gogh</h3>
                            <h5>Acrilico sobre tela 30 x 25</h5>
                            <p>(2021 - Ejercicio de una hora)</p>
                            <img class="mb-5 borde2" src="../../../assets/VangGoghSP.jpeg" alt="">
                          </div>

                          
                          <div class="row m-3 borde paint">
                            <h3 class=" texto ">Reproduccion de Girasoles Van Gogh</h3>
                            <h5>Acrilico sobre tela 30 x 25</h5>
                            <p>(2021 - Ejercicio de una hora)</p>
                            <img class="mb-5 borde2" src="../../../assets/girasoles.jpeg" alt="">
                          </div>

                          <div class="row m-3 borde paint">
                            <h3 class=" texto ">Reproduccion de "Sunligth" de F. B. Weston</h3>
                            <h5>Oleos sobre tela 80 x 60</h5>
                            <p>(2019)</p>
                            <img class="mb-5 borde2" src="../../../assets/BWR.jpeg" alt="">
                          </div>

                          












                    </div>
                    <div class="modal-footer borde1">
                      <button type="button" class="btn tarjeta texto" data-bs-dismiss="modal">Close</button>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

            








          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>