<div class="container mb-3" >

    <div class="card fondo shadow rounded" >
      <div class="card-body">
        <h5 class="card-title texto">Languages</h5>
        <br>

        <ul>
          <li *ngFor="let lengua of lenguasList">
       
        <div class="container">
          <div class="row texto">
            <div class="col-3"> <h5>{{lengua.idioma}}</h5> </div>
            <div class="col-7">{{lengua.alcance}}  {{lengua.nivel}}</div>
            <div class="col-2">
              <div class="progress">
                <div class="progress-bar w-100  bg-secondary" role="progressbar" attr.aria-valuenow="{{lengua.porc}}" aria-valuemin="0"
                  aria-valuemax="100">{{lengua.porc}}</div>
              </div>
            </div>
          </div>
        </div>
        </li>
      </ul>
          
        <br>
        <!-- hobbies -->
        <h5 class="card-title texto">Hobbies</h5>
        <div class="container">
          <div class="row">
            <div class="col-6 texto">
              <i class="fa-solid fa-palette"></i>Amateur painter
            </div>
            <div class="col-6">
              <div class="project"><a href="#" class=" text-decoration-none link-secondary"> (My jobs)</a>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
  
</div>