li {
  list-style: none;
}

.boton-edit {
  justify-content: end;
}

.fondo {
  background-color: rgba(46, 2, 59, 0.95);
}

.texto {
  color: #AF9120;
  font-weight: bold;
}

.texto1 {
  color: #AF9120;
 }

.tarjeta {
  background-color: rgba(112, 60, 108, 0.5);
}

.tarjeta2 {
  background-color: rgba(112, 60, 108, 0.5);
  border: none;
}

.borde {
  border: #AF9120;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;

}

.borde1 {
  border: #AF9120;
  border-style: solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-width: 1px;

}