<div class="container m-5">
<form>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card fondo shadow rounded">
          <div class="card-body">
            <h5 class="card-title texto"> Login</h5>

            <label for="exampleInputEmail1" class="form-label texto">Email address</label>
            <input type="email" class="form-control tarjeta" id="exampleInputEmail1" aria-describedby="emailHelp">

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label texto ">Password</label>
              <input type="password" class="form-control tarjeta" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-secondary tarjeta">Submit</button>
          </div>
        </div>
      </div>

    </div>

  </div>



</form>
</div>