<div class="container-fluid suplogin">
<!-- <form> -->


  <div class="container login " >
    <div class="row">
      <div class="col-12">
        <div class="card fondo shadow rounded">
          <div class="card-body ">
            <h5 class="card-title texto"> Login </h5>

            <form #f="ngForm" (ngSubmit)=" onLogin()" novalidate>
              <label for="nombreUsuario" class="form-label texto">User</label>
              <input type="email" class="form-control tarjeta" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" required />
  
              <div class="mb-3">
                <label for="password" class="form-label texto ">Password</label>
                <input type="password" name="password" class="form-control tarjeta" id="password"  [(ngModel)]="password" required>
              </div>
              
              <div class="boton ">
  
              <button type="submit" class="btn btn-secondary tarjeta ">Login</button>
            </div>

            </form>


           
          </div>
          <div class="m-3">
            <p class="form-label texto text-center ">¿No tienes una cuenta? <a href="#!" class="form-label texto ">Sign Up</a>
            </p>
          </div>


        </div>
      </div>

    </div>

  </div>



<!-- </form> -->
</div>