<div class="container mb-3">

<div class="col">
    <div class="card fondo shadow rounded">
      <div class="card-body">
        <h5 class="card-title texto">Proyectos</h5>
        
          <div class="row mt-3 ">
            <div class="col">
            <li *ngFor="let proyecto of proyectosList">
            <button type="button" class="btn tarjeta m-3 p-3"><a href="#" class="link-secondary "> 
                     {{proyecto.projectName}}
                </a>
              </button>
            </li>
          </div>
        </div>

           

            <!-- mas proyectos-->
            <div class="row mt-5 mb-3">
              <button class="btn project" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                aria-controls="offcanvasTop">
                <div class="card project tarjeta shadow rounded" >
                  <div class="card-body masproy">
                    <h5 class="card-title mt-2 mb-3 ">Mas proyectos</h5>
                  </div>
                </div>
              </button>
              <div class="offcanvas offcanvas-top bg-secondary" tabindex="-1" id="offcanvasTop"
                aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasTopLabel">Otros proyectos</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div class="card-group">

                    <div class="card me-2 tarjeta" style="max-width: 330px; --bs-bg-opacity: 0.20 ;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="../../../assets/monet.JPG" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Claude</h5>
                            <p class="card-text"><a href="#"> www.monet.com</a></p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card me-2 tarjeta" style="max-width: 330px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="../../../assets/picasso.JPG" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Pablo</h5>
                            <p class="card-text"><a href="#"> www.ppic.com</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card me-2 tarjeta" style="max-width: 330px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="../../../assets/vangogh.JPG" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Vincent</h5>
                            <p class="card-text"><a href="#"> www.vvgogh.com</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card me-2 tarjeta" style="max-width: 330px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="../../../assets/mondrian.JPG" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Piet</h5>
                            <p class="card-text"><a href="#"> www.pmondr.com</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card me-2 tarjeta" style="max-width: 330px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="../../../assets/dali.JPG" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Salvador</h5>
                            <p class="card-text"><a href="#"> www.Sdali.com</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card me-2 tarjeta" style="max-width: 330px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="../../../assets/davinci.JPG" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Leonardo</h5>
                            <p class="card-text"><a href="#"> www.ldvinci.com</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card me-2 tarjeta" style="max-width: 330px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="../../../assets/warhol.JPG" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Andy</h5>
                            <p class="card-text"><a href="#"> www.elandy.com</a></p>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
