<div class="container">
    <div class="card fondo mb-3" style="--bs-bg-opacity: 0.5 ;">
    <div class="row texto  " display="flex">
      <!-- <div class="col-12"> -->
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-8">
              <h5 class="card-title texto1 mx-3">Acerca de</h5>
            </div>

            <!-- Boton de agregar nuevo -->

            <div class="col-4">
              <button type="button" class="btn  texto tarjeta" routerLink="/nuevoabout" *ngIf="isLogged"> <i
                  class="fa-solid fa-folder-plus"></i> Nuevo</button>
            </div>

            <!-- -------------------- -->
            <!--   Iteracion inicio   -->
            <!-- -------------------- -->

            <ul class="mt-3">
              <li *ngFor="let About of about">
                <div class="row">

                  <!-- Acerca de: -->

                  <div class="col-lg-10 col-sm-12 ">
                    <div class="row texto   m-2 mb-4">
                      <div class="col">
                        <p class="card-text">{{About.about}}</p>
                      </div>
                    </div>
                  </div>

                <!-- Botones de edicion y eliminar -->

                  <div class="col-lg-2 col-sm-12">
                    <div class="row m-3" *ngIf="isLogged">
                      <button class="btn  texto tarjeta  " routerLink="/editabout/{{About.id}}">
                        <i class="fa fa-pen "></i> Editar</button>                    
                    </div>

                    <div class="row m-3 " *ngIf="isLogged">
                      <button class="btn  texto tarjeta  " (click)="delete(About.id)">
                        <i class="fa fa-trash-can "></i> Borrar</button>
                    </div>

                  </div>

                </div>
              </li>
            </ul>

             <!-- -------------------- -->
            <!-- Iteracion final -->
            <!-- -------------------- -->

          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->