<div class="container">
  
    <div class="card fondo mb-3" style="--bs-bg-opacity: 0.5 ;">
      <div class="row"display="flex">
        <div class="col-11">
          <div class="card-body"> 
            <h5 class="card-title">Acerca de</h5> 
            <h6 class="card-subtitle text-muted">About me</h6>
      </div>
        
      </div>
      <div class="col-1 " ><div class="btn-edit  text-end m-2"><a href="#" (click)="editAbout()"> <i class="fa fa-pen text-secondary"></i></a></div></div>

    </div>
    <div class="row m-2 mb-4">
      <div class="col">
    <p class="card-text">{{miPortifolio.about}}</p>
  </div>
  
  <ng-template [ngIf]="about"><input type="text" placeholder="Ingresar nueva descripcion"></ng-template>


</div>
    </div>
  </div>
