<div class="container-fluid suplogin">
    <div class="container login ">
        <div class="row">
            <div class="col-12">
                <div class="card fondo shadow rounded">
                    <div class="card-body ">
                        <h5 class="card-title texto m-2"> Cargar Nueva About</h5>

                        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                            <div class="form-group texto m-3">
                                <label for="about" class="m-2">Cargar una breve reseña que te describa</label>
                                <textarea name="about" id="about" cols="30" rows="5" type="text" class="form-control"
                                    [(ngModel)]="about" required></textarea>
                            </div>

                            <!-- Botones de Agregar y Volver -->

                            <div class="row ">
                                <div class="col-12 col-sm-6   mb-2 d-flex justify-content-around align-items-center ">
                                    <button class="btn texto tarjeta"> Agregar </button>
                                </div>
                                <div class="col-12 col-sm-6  mb-2 d-flex justify-content-around align-items-center">
                                    <button class="btn texto tarjeta" (click)="volver()"> Volver </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>