<div class="container">

    <div class="card fondo mb-3 " >    
        <div class="card-body">
            <div class="row texto " >    
                <div class="col-sm-8 col-12 d-flex justify-content-start align-items-center  ">
                    <h3 class="card-title text-start texto ">Datos personales</h3>
                </div>
    
                <!-- Boton de agregar nuevo -->
    
                <div class="col-sm-4 col-12 d-flex justify-content-end align-items-center ">

                    <!-- Comento este boton de agregar nuevo dato solo para que pueda editarse hasta que 
              aprenda la manera de hacerlo condicional a que si hay una persona solo pueda haber un campo datos -->

<!-- 
                    <button type="button" class="btn  texto tarjeta me-3" routerLink="/nuevodato" *ngIf="isLogged"> <i
                            class="fa-solid fa-folder-plus"></i> Nuevo</button> -->
                </div>
            </div>
        

    <!-- -------------------- -->
    <!--   Iteracion inicio   -->
    <!-- -------------------- -->

    
    <ul>
        <li *ngFor="let Datos of datos">
    
            <div class="row ">    
                <div class="col-lg-3 col-sm-12">
                    
                        <div class="row  ">
                            <div class="d-flex justify-content-center align-items-center ">
                                <img Class=" rounded-circle foto img-fluid p-2" [src]="Datos.imagen" />
                            </div>
                        </div>                       
                </div>
    
                <div class="col-lg-9 col-sm-12 ">
                    
                            <div class="row">
                                <div class="col-lg-9 col-sm-7 texto "> {{Datos.nombre}}
                                    <br> <br>
                                    {{Datos.ocupacion}}
                                    <br>
                                    {{Datos.nivel}}
                                    <br>
                                    {{Datos.lugar}}
                                </div>

                                <!-- Botones editar y borrar -->   
    
                                <div class="col-lg-3 col-sm-5  ">
                                    <div class="row m-3 d-flex " *ngIf="isLogged">
                                        <button type="button" class="btn texto1 tarjeta" 
                                            routerLink="/editdato/{{Datos.id}}">
                                            <i class="fa fa-pen  texto1"></i> Editar</button>
                                    </div>    

                                    <!-- Comento este boton de eliminar datos  hasta que 
                                    encuentre la manera de hacerlo condicional a que si hay una persona solo pueda haber un campo datos -->
                                    
                                    <div class="row m-3 " *ngIf="isLogged">
                                        <!-- <button type="button" class="btn texto1 tarjeta" (click)="delete(Datos.id)">
                                            <i class="fa fa-trash-can texto1"></i> Borrar</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>    
            </div>  
    
        </li>
    </ul>


    <!-- -------------------- -->
    <!--    Iteracion fin     -->
    <!-- -------------------- -->

</div>
</div>
</div>