.foto {
    width: 9.5rem;
}

.fondo {
    background-color: rgba(46, 2, 59, 0.95);
}

.fondo1 {
    background-color: rgba(46, 2, 59, 0.0);
    border: none;
}

.texto {
    color: #AF9120;
    font-weight: bold;
}
.texto1 {
    color: #AF9120;
    
}

.tarjeta {
    background-color: rgba(112, 60, 108, 0.4);
}

a {
    color: #8f878a;
    text-decoration: none;
}

li {
    list-style:none;
    list-style-type:none;
    padding: 0px;
}
ul {
    list-style:none;
    list-style-type:none;
    padding: 0px;
}

