.fondo {
  background-color: rgba(46, 2, 59, 0.95);
}

.texto {
  color: #AF9120;
  font-weight: bold;
}

.texto1 {
  color: #AF9120;
}

.tarjeta {
  background-color: rgba(112, 60, 108, 0.4);
}


.suplogin {
  //width: max-content;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 5px;
}


.login {
  width: 500px;
  align-items: center;
  justify-content: center;
}