.suplogin{
    width:max-content;
    min-height: 100vh;
    display: flex;
     align-items: center;
     margin-top: 5px;
  }
  
  
  .login {
    width: 500px;
    align-items: center;  
    justify-content: center;
    
   
  }
  
  
  .fondo {
      background-color: rgba(46, 2, 59, 0.95);
    }
    
    .texto {
      color: #827397;
      font-weight: bold;
    }
    .tarjeta {
      background-color: rgba(248, 6, 204,0.3);
  }
  
  