

<div class="container">
    <div class="row">

      <div class="col-12 col-sm-3 mb-3">
        <div class="card fondo shadow rounded align-items-center">
          <div class="card-body">
            <!-- foto de perfil -->
            
            <img 
            Class="border-2 rounded-circle foto img-fluid"
            [src]="persona.img"
            />


          </div>
        </div>
      </div>
      <div class="col-12 col-sm-9 mb-3">
        <div class="card fondo shadow rounded">
          <div class="card-body">
            <!-- datos -->
            <div class="col-6 texto "> {{persona.nombre}} {{persona.apellido}}<br> <br> {{persona.apellido}} aca va la posicion <br> aca va el scope <br>
             aca va la ciudad
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
