

<div class="container">
    <div class="row">

      


    

      <div class="col-12 col-sm-3 mb-3">
        <div class="card fondo shadow rounded align-items-center">
          <div class="card-body">
            
            
            <img 
            Class="border-2 rounded-circle foto img-fluid"
            src="../../assets/foto_.jpg"
            />


          </div>
        </div>
      </div>
      <div class="col-12 col-sm-9 mb-3">


        
        <app-datos></app-datos>


      </div> 


    </div>
  </div>
