<div class="container-fluid suplogin">
    <div class="container login ">
        <div class="row">

            <div class="col-12">
                <div class="card fondo shadow rounded">
                  <div class="card-body ">
                    <h5 class="card-title texto m-2"> Cargar Nueva Skill</h5>



            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group texto m-3">

                    <!-- empresa -->

                    <label for="nameSkill" class="m-2">Cargar nomnre de la Skill</label>
                    <input type="text" class="form-control" id="nameSkill" name="nameSkill" [(ngModel)]="nameSkill" required>
                </div>
                
                <!-- posicion -->

                <div class="form-group texto m-3">
                    <label for="progress" class="m-2">Cargar el progreso</label>
                    <input type="number" class="form-control" id="progress" name="progress" [(ngModel)]="progress" required>
                </div>

                <!-- modo -->

                <div class="form-group texto m-3">
                    <label for="imgSkill" class="m-2">Cargar la ruta de la imagen</label>
                    <input type="text" class="form-control" id="imgSkill" name="imgSkill" [(ngModel)]="imgSkill" required>
                </div>

                <div class="row ">

                    <div class="col-6 text-satrt  ">


                <button class="btn texto tarjeta"> Agregar </button>
            </div>

            <div class="col-6 text-end">

                <button class="btn texto tarjeta" (click)="volver()"> Volver </button>
            </div>
        </div>
            </form>
        </div>
    </div>
</div>

</div>
</div>
</div>


