<div class="container-fluid mb-3">

    <div class="card fondo shadow rounded" >
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h5 class="card-title texto1">My Skills</h5> 
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-secondary texto1 tarjeta" routerLink="/nuevaskill" *ngIf="isLogged">
              <i class="fa-solid fa-folder-plus"></i> Nueva Skill
            </button>
          </div>
        </div>

        <div class="row">
            <ul class="list-group list-group-horizontal row  row-cols-auto m-2">
              <li class="list-group-item m-2 tarjeta"  *ngFor="let Skills of skills"> 
                <div class="col">
                  <div class="container p-0">
                    <div class="row">
                      <div class="col-12 text-center">
                        <div >
                          <div class="row">
                            <div class="col-6">
                              <div class="m-2" *ngIf="isLogged"><a  routerLink="/editskill/{{Skills.id}}"><i class="fa fa-pen  text-secondary"></i></a> 
                              </div>
                            </div>
                            <div class="col-6">
                           <div class="m-2 "  *ngIf="isLogged" >
                            <a (click)="delete(Skills.id)"><i class="fa fa-trash-can text-secondary"></i> </a>
                              </div> 
                            </div>
                            
                          </div>
                      </div>

                        <circle-progress
                                [percent]="Skills.progress" 
                                [radius]="40"
                                [showSubtitle]="false"
                                [imageSrc]="Skills.imgSkill"
                                [showImage]="true"
                                [imageHeight]="40"
                                [imageWidth]="40"
                                [showUnits]="false"
                                [outerStrokeWidth]="7"
                                [innerStrokeWidth]="3"
                                [outerStrokeColor]="'#3b0b33'"
                                [innerStrokeColor]="'#9e7c99'"
                                [animation]="true"
                                [animationDuration]="600"
                              ></circle-progress>
                        
                      </div>
                      <div class="col-12 texto1 text-center">{{Skills.nameSkill}}</div>
                    </div>
                  </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



  

        