<header >
    <div class=" container  align-items-top justify-content-end">

      <!-- barra superior -->
      <div class="row justify-content-end  barra ">

        <!-- logoArgP -->

        <div class="col-4  justify-content-end text-secondary texto1 ">
          <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank" ><img src="../../../assets/logoArgP.JPG" alt="" width="110" height=""></a>
          <br> 
          <span class="texto1">#Yo Programo</span> 
        </div>

        <!--barra de navegacion-->

        <div class="col-8 d-flex justify-content-end">
          <nav class="navbar navbar-expand-md navbar-light ">
            <div class="container justify-content-end">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item m-2 ">
                    <a href="https://linkedin.com/in/nataliafuoco" target="_blank"><i class="fa-brands fa-linkedin texto "></i></a>
                    
                  </li>
                  <li class="nav-item m-2 ">
                    <a href="https://github.com/NFNat" target="_blank" ><i class="fa-brands fa-github texto"></i></a>

                    
                    
                  </li>
                  <li class="nav-item m-2 " >
                    

                    <a href="https://instagram.com/fuoconatalia/" target="_blank" ><i class="fa-brands fa-instagram texto"></i></a>
                    
                  </li>
                  <li class="nav-item m-2 ">

                    
                    <a href="mailto: natalia_fuoco@hotmail.com"><i class="fa-solid fa-at texto"></i></a>
                    
                  </li>
                  
                  <li class="nav-item m-2 ">
                    <button type="button" class="btn btn-outline-secondary fw-bold" (click)="login()" *ngIf="!isLogged" >Login</button>
                  </li>
                  <li class="nav-item m-2 ">
                    <button type="button" class="btn btn-outline-secondary fw-bold texto1" (click)="onLogOut()" *ngIf="isLogged">Logout</button>
                  </li> 
                </ul>
              </div>
            </div>
          </nav>
        </div>
            </div>
    </div>



   
    </header>