
a {
  color: #AF9120;
  text-decoration: none;
}

.texto {
  color: #AF9120;

  font-size: xx-large;
}

.texto1 {
  color: #AF9120;
  font-weight: bold;
}

.hamb{
  background-color: #AF9120;
  //color: #AF9120;
}

