<header >
    <div class=" container  align-items-top justify-content-end">

      <!-- barra superior -->
      <div class="row justify-content-end  barra ">

        <!-- logoArgP -->

        <div class="col-4  justify-content-end text-secondary ">
          <img src="../../../assets/logoArgP.JPG" alt="" width="110" height=""><br> #Yo Programo
        </div>

        <!--barra de navegacion-->

        <div class="col-8 d-flex justify-content-end">
          <nav class="navbar navbar-expand-md navbar-light ">
            <div class="container justify-content-end">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item ">
                    <a class="nav-link text-secondary fw-bold" aria-current="page" href="#">Acerca de</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary fw-bold" href="#">Experiencia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary fw-bold" href="#">Educacion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary fw-bold" href="#">Skills</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary fw-bold" href="#">proyectos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary fw-bold" href="#">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-outline-secondary fw-bold">Login</button>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
            </div>
    </div>



   
    </header>