
@import "../node_modules/bootstrap/scss/bootstrap";

$secondary: #91075c;

$theme-colors: (
  "secondary": $secondary,
  
);


.page {

  background-image: url(../images/galaxia_.jpg); 
  background-size: cover;
  background-repeat: no-repeat;

  

}



@import "../node_modules/bootstrap/scss/bootstrap";
