$secondary: #91075c;

$theme-colors: (
  "secondary": $secondary,
  
);


.page {

  background-image: url(../images/galaxy.jpg); 
  background-size: contain;
  

}



@import "../node_modules/bootstrap/scss/bootstrap";
